<div class=''>
    {% render 'collection-list' %}
</div>

{% schema %}
{
    "name": "Collection List",
    "limit": 1,
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Collection List"
        }
    ]
}
{% endschema %}
