<div class='flex h-[6.5rem] w-full items-center justify-center bg-black md:h-60'>
    <h1 class='text-[1.75rem] font-bold uppercase text-white md:text-[2.5rem]'>{{ collection.title }}</h1>
</div>

{% schema %}
{
    "name": "Main Collection Banner",
    "settings": [],
    "presets": [
        {
            "name": "Collection Banner"
        }
    ]
}
{% endschema %}
